body {
  margin: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.balance-card {
  position: relative;
  height: auto;
  width: auto;
  display: block;
  background: linear-gradient(0deg, black, #444444);
  border-radius: 10px;
  color: white;
  padding: 25px;
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.account-balance {
  color: gold;
  font-size: large;
}

.container {
  display: flex;
  margin: 5%;
  margin-top: 12%;
  padding: 5%;
  align-items: center;
  position: relative;
}

.submit-card {
  position: relative;
  height: auto;
  width: 500px;
  display: block;
  background: linear-gradient(0deg, black, #444444);
  border-radius: 10px;
  color: white;
  padding: 25px;
  margin-bottom: 20px;
}

.glowing::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #6DD5FA, #ff6600d9, #00ff66, #13ff13, #ad27ad, #bd2681, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  border-radius: 10px;
  animation: glower 25s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}

#private-key {
  font-weight: bolder;
}

#table-container {
  width:  80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.table-responsive {
  table-layout: fixed;
}

th {
  position: sticky;
  top: 0;
}

td {
  /* overflow-wrap: break-word; */
  /* inline-size: min-content; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td:hover{
  overflow: visible;
  white-space: normal;
  font-weight: bolder;
  z-index: +1;
  overflow-wrap: break-word;
}

tr:hover {
  background-color: aquamarine;
  z-index: -1;
}
