body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  margin: 5%;
  padding: 5%;
  align-items: stretch;
}

#table-container {
  width:  80%;
  margin-left: auto;
  margin-right: auto;
}

.table-responsive {
  table-layout: fixed;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td:hover{
  
  font-weight: bolder;
  z-index: +1;
  
}

tr:hover {
  background-color: aquamarine;
  z-index: -1;
}
